[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
credentials = "*"
fake-useragent = "*"
geckodriver-autoinstaller = "*"
lxml = "*"
pandas = "*"
pycountry = "*"
selenium = "*"
spacy = "*"
spacy_fastlang = "*"
webdriver-manager = "*"

[dev-packages]
